<style>
  a {
    text-decoration: none;
  }

  p {
    margin: 0;
  }

  body {
    background-color: #f9fafb;
    line-height: 1.5;
    margin: 0;
  }

  .mb-5 {
    margin-bottom: 20px;
  }

  .shadow {
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  }

  .container {
    max-width: 640px;
    padding: 32px;
    margin: auto;
  }

  .title {
    font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-weight: 700;
    font-size: 24px;
    color: #0284C7;
    width: fit-content;
    padding: 8px 20px;
    margin: 0 auto 20px;
  }

  .card {
    border-radius: 4px;
    padding: 32px 24px;
    background-color: #ffffff;
  }

  .text {
    color: #111827;
  }

  .button {
    display:
      inline-block;
    padding: 12px 20px;
    background-color: #0284c7;
    color: #ffffff;
    font-weight: bold;
    font-size: 14px;
    border-radius: 4px;
  }

  .caption {
    font-size: 12px;
    color: #374151;
  }
</style>

<div class="container">
  <h1 class="title">Todo App</h1>

  <div class="card shadow">
    <p class="text mb-5">
      Todo Appへの登録はあと少しです。<br />
      下記のリンクからユーザー登録を完了してください。
    </p>

    <a href="{{signUpFormUrl}}" target="_blank" rel="noopener noreferrer" class="button shadow mb-5">
      ユーザー登録へ進む
    </a>

    <p class="caption">
      ※ リンクの有効期限は本メール受信から30分間となります。<br />
      有効期限を過ぎた場合は、お手数ですが始めから再度登録をお願い致します。
    </p>
  </div>
</div>